<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/cv.css">
    <link rel="stylesheet" media="screen" href="css/bootstrap.css">
    <link rel="stylesheet" media="print" href="css/bootstrap-print.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link href="css/ionicons.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
  <%= renderTemplate('header.erb') %>
  <div class="page-break"></div>
	<%= renderTemplate('skills.erb') %>
  <%= renderTemplate('content.erb') %> 
  </body>
</html>
