<div class="content  d-flex flex-column justify-content-between">
		<% @content = @cv["content"] %>
		<% @employments = @content["employments"] %>
		<%= renderTemplate('employments.erb') %>
		<% @education = @content["education"] %>
		<%= renderTemplate('education.erb') %>
		<% @associations = @content["associations"] %>
		<%= renderTemplate('associations.erb') %>
		<% @interests = @content["interests"] %>
		<%= renderTemplate('interests.erb') %>
</div>