<div class="d-flex flex-column align-self-stretch align-content-stretch">
	<h2>Interests</h2>
	<div class="d-flex flex-column ">
		<% @interests.each do |interest| %>
		<% interest.each do |key, values| %>
		<h3 class="content-interest-category"><%= titleize(key) %></h3>
		<div class="d-flex flex-row justify-content-around">
			<% values.each do |value| %>
			<p class="text-center description"><%= titleize(value) %></p>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>

	<!--
	<div class="container">
		<% @interests.each do |interest| %>
		<% interest.each do |key, values| %>
		<div class="row">
			<div class="col"><h3><%= titleize(key) %></h3></div>
		</div>
		<div class="row">
			<% values.each do |value| %>
			<div class="col">
			<p class="text-center description"><%= titleize(value) %></p>
			</div>
			<% end %>
		</div>
		<% end %>
		<% end %>
	</div>-->

</div>