<div class="personal-profile d-flex flex-column">
	
	<h1><%= @personal_profile["title"] %></h1>
	<p> <%= @personal_profile["adjectives"].join(', ') %> </p>
	<p><span class="font-italic">Career objective:</span> <%= @personal_profile["career-objective"] %></p>
	<% @personal_profile["strong-points"].each do |point| %>
			<p><%= point %></p>
    <% end %>

	
</div>