<div class="skills d-flex flex-column justify-content-between align-items-center">
    <h2 class="align-self-center">Skills</h2>
        <% @cv["skills"]["sections"].each do |section| %>
        <div class="d-flex flex-column align-items-center">
            <h3 class="text-center"><%= section["title"] %></h3>
                <ul class="m-auto">
        	    <% section["elements"].each do |element| %>
        	    <li><%= element %></li>
        	    <% end %>
        </div>
        
        <% unless section.equal?(@cv["skills"]["sections"].last) %>
        <div class="skills-line"></div>
        <% end %>
        <% end %>
</div>